*~
.DS_Store
.idea/
.vagrant/
/app/config/parameters.yml
/build/
/phpunit.xml
/composer.lock

/var/*

!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep

!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

!/var/database
/var/database/*
!var/database/.gitkeep

!var/SymfonyRequirements.php

/vendor/
/web/bundles/
