parameters:
    server_name: http://192.168.33.81.xip.io
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     dashboard
    database_user:     dashboard
    database_password: ~
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    secret:            ThisTokenIsNotSoSecretChangeIt
