<h4>Backup</h4>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Backup type</th>
            <th>Last backup</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{{ url('admin_backup_database') }}">Backup database</a></td>
            <td>25-04-2016 11:00:29</td>
            <td><span class="text-success">success</span></td>
        </tr>
        <tr>
            <td><a href="{{ url('admin_backup_files') }}">Backup files</a></td>
            <td>N/A</td>
            <td><span class="text-info">N/A</span></td>
        </tr>
        </tbody>
    </table>
</div>