
<h4>Recent logs</h4>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Type</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>25-04-2016 11:00:29</td>
            <td><span class="text-warning">warning</span></td>
            <td>*126 FastCGI sent in stderr:...</td>
        </tr>
        <tr>
            <td>25-04-2016 11:00:29</td>
            <td><span class="text-warning">warning</span></td>
            <td>Uncaught TypeError: Argument 2 passed to...</td>
        </tr>
        <tr>
            <td>25-04-2016 11:00:29</td>
            <td><span class="text-warning">warning</span></td>
            <td>PHP message: PHP Fatal error:...</td>
        </tr>
        <tr>
            <td>25-04-2016 11:00:29</td>
            <td><span class="text-warning">warning</span></td>
            <td>PHP message: PHP Fatal error:...</td>
        </tr>
        <tr>
            <td>25-04-2016 11:00:29</td>
            <td><span class="text-warning">warning</span></td>
            <td>PHP message: PHP Fatal error:...</td>
        </tr>
        </tbody>
    </table>
</div>
