{% extends('AppDashboardBundle::empty.html.twig') %}

{% block title %}Casebox environment start{% endblock %}

{% block body %}

    <p>Before start casebox environment, please provide folder encryption passphrase.</p>

    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

