{% extends('AppDashboardBundle::empty.html.twig') %}

{% block title %}Casebox encryption setup{% endblock %}

{% block body %}

    <p>
        Before setup and start casebox environment,
        please provide folder encryption passphrase and hit Submit button.
    </p>

    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

