{% extends('AppDashboardBundle::empty.html.twig') %}

{% block title %}Casebox startup{% endblock %}

{% block body %}

    <p>Before start your casebox environment, please provide folder encryption passphrase.</p>

    ...

{% endblock %}

