<h4>Remote synchronization</h4>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Synchronization type</th>
            <th>Last synchronization</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{{ url('admin_sync_database') }}">Synchronize database</a></td>
            <td>25-04-2016 11:00:29</td>
            <td><span class="text-success">success</span></td>
        </tr>
        <tr>
            <td><a href="{{ url('admin_sync_files') }}">Synchronize files</a></td>
            <td>25-04-2016 11:00:29</td>
            <td><span class="text-warning">error</span></td>
        </tr>
        </tbody>
    </table>
</div>