<div class="log-item">
    <p style="color: white;">
        <span class="bg-{{ type }}" style="color: black;">[ {{ timestamp }} ]</span> {{ message }}
        {% if context %}
            <span class="text-muted">[ {{ context }} ]</span>
        {% endif %}
    </p>
</div>