{% extends('AppDashboardBundle::empty.html.twig') %}

{% block meta %}<meta HTTP-EQUIV="refresh" CONTENT="5">{% endblock %}

{% block title %}{{ title|raw }}{% endblock %}

{% block body %}

    <p>{{ message|raw }}</p>

    <ul>
        <li><a href="{{ path('admin_security') }}">Go back</a></li>
    </ul>

{% endblock %}
