{% extends('AppDashboardBundle::empty.html.twig') %}

{% block title %}{{ title|raw }}{% endblock %}

{% block body %}

    <p>{{ message|raw }}</p>

    {% include 'AppDashboardBundle::auto-refresh.html.twig' %}

    <ul>
        <li><a href="{{ path('admin_security') }}">Go back</a></li>
    </ul>

{% endblock %}
