{% extends('AppDashboardBundle::empty.html.twig') %}

{% block title %}Casebox environment start{% endblock %}

{% block body %}

    <p>
        Before setup and start casebox environment,
        please provide folder encryption passphrase and hit Submit button.
    </p>
    <p>
        <span class="text-warning">Attention!</span> Please memorize provided encryption passphrase.
        If you will lose encryption passphrase, you will not be able to recover your encrypted files.
    </p>

    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

