{% extends('AppDashboardBundle::base.html.twig') %}

{% block title %}Casebox sharing (SAMBA){% endblock %}

{% block body %}

    <p>Casebox is already shared via SAMBA.</p>

    <p>
        You can mount Casebox sources into your host machine via SAMBA using following address <br>

    <ul>
        <li>
            <code>//192.168.33.3/casebox</code> for Gnu/Linux or MacOS <br>
        </li>
        <li>
            <code>\\192.168.33.3\casebox</code> for Windows <br>
        </li>

    </ul>

    SAMBA <code>vagrant</code> user password: <code>vagrant</code>
    </p>

{% endblock %}
