{% extends('AppDashboardBundle::base.html.twig') %}

{% block title %}RSA public key{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
           'vagrant' RSA Key
        </div>
        <div class="panel-body">
            <pre><code>{{ vagrant }}</code></pre>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            'root' RSA Key
        </div>
        <div class="panel-body">
            <pre><code>{{ root }}</code></pre>
        </div>
    </div>
{% endblock %}

