<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Casebox2 Vagrant dashboard">
<meta name="author" content="VM <caseboxdevops@gmail.com>">

<title>Casebox Admin UI</title>

<!-- Bootstrap Core CSS -->
<link href="{{ asset('bundles/appdashboard/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/appdashboard/css/dashboard.css') }}" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{#<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>#}
{#<script>#}
    {#var appToken = '{{ app_token }}';#}
    {#var conn = new ab.Session('ws://192.168.33.3:8081/',#}
            {#function() {#}
            {#},#}
            {#function() {#}
                {#console.warn('WebSocket connection closed');#}
            {#},#}
            {#{'skipSubprotocolCheck': true}#}
    {#);#}
{#</script>#}
